<!-- CASA -->
<!-- <header class="p-4 bg-dark text-white mi-header">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a (click)="goTo('')" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none div-pointer">
            <img class="bi m-2" width="40" alt="Angular Logo" src="https://firebasestorage.googleapis.com/v0/b/boomclub-tfg.appspot.com/o/boomclub.png?alt=media&token=14ede50f-dcfc-41e3-8bea-03b90978e28a" />

            <span class="fs-4">BoomClub</span>
        </a>

        <div class="dropdown ocultar">
            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="{{photo}}" alt="" width="32" height="32" class="rounded-circle me-2">
                <strong>{{name}}</strong>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                <li><a class="dropdown-item" href="#">New project...</a></li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" (click)="goTo('profile')">Perfil</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" (click)="logout()">Cerrar sesión</a></li>
            </ul>
        </div>
    </div>
</header> -->

<!-- ODEC -->
<header class="p-2 bg-dark text-white mi-header">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a (click)="goTo('')" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none div-pointer">
            <img class="bi m-2" width="40" src="https://firebasestorage.googleapis.com/v0/b/boomclub-tfg.appspot.com/o/boomclub.png?alt=media&token=14ede50f-dcfc-41e3-8bea-03b90978e28a" />

            <span class="fs-4">BoomClub</span>
        </a>

        <div class="bi m-2 dropdown ocultar">
            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="{{photo}}" alt="" width="32" height="32" class="rounded-circle me-2">
                <strong>{{name}}</strong>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                <li><a class="dropdown-item" (click)="goTo('profile/' +user.id)">Perfil</a></li>
                <li><a class="dropdown-item" (click)="goTo('new-song')">Subir canción</a></li>
                <!-- <li><a class="dropdown-item" href="#">Settings</a></li> -->
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" (click)="logout()">Cerrar sesión</a></li>
            </ul>
        </div>
    </div>
</header>