<!-- CASA -->
<!-- <footer class="p-2 bg-pink text-white mi-footer">
    <div class="d-flex flex-wrap align-items-center justify-content-center ">
        <video controls="" width="50%" height="50vh"
            name="media">
            <source
                src="https://firebasestorage.googleapis.com/v0/b/boomclub-tfg.appspot.com/o/canciones%2FADVANCED%20WARFARE%20VS%20DESTINY%20VS%20TITAN%20FALL.mp3?alt=media&amp;token=b6aa69d3-9831-4706-a874-59b7b67c954c"
                type="audio/mpeg">
        </video>
    </div>
</footer> -->

<!-- ODEC -->
<footer class="bg-pink text-white mi-footer">
    <div *ngIf="song" class="content-footer d-flex flex-wrap align-items-center justify-content-center ">
        <img class="me-2" src="{{song.foto}}" width="50px" height="50px">
        {{song.titulo}}
        <svg *ngIf="!playB" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
            class="bi bi-play-circle-fill song-selector margin-option" (click)="play()" viewBox="0 0 16 16">
            <path
                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z" />
        </svg>
        <svg *ngIf="playB" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
            class="bi bi-pause-circle-fill song-selector margin-option" (click)="pause()" viewBox="0 0 16 16">
            <path
                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.25 5C5.56 5 5 5.56 5 6.25v3.5a1.25 1.25 0 1 0 2.5 0v-3.5C7.5 5.56 6.94 5 6.25 5zm3.5 0c-.69 0-1.25.56-1.25 1.25v3.5a1.25 1.25 0 1 0 2.5 0v-3.5C11 5.56 10.44 5 9.75 5z" />
        </svg>
        <!-- <audio controls >
            <source src="{{song.cancion}}" type="audio/mpeg">
        </audio> -->
        <!-- <video controls="" width="50%" height="50vh"
            name="media">
            <source
                src="{{song.cancion}}"
                type="audio/mpeg">
        </video> -->
    </div>
</footer>