<footer class="p-2 bg-pink text-white mi-footer">
    <div class="d-flex flex-wrap align-items-center justify-content-center ">
        <video controls="" width="50%" height="50vh"
            name="media">
            <source
                src="https://firebasestorage.googleapis.com/v0/b/boomclub-tfg.appspot.com/o/canciones%2FADVANCED%20WARFARE%20VS%20DESTINY%20VS%20TITAN%20FALL.mp3?alt=media&amp;token=b6aa69d3-9831-4706-a874-59b7b67c954c"
                type="audio/mpeg">
        </video>
    </div>
</footer>