footer {
    height: 10vh;
}

video {
    color: #ab6c6c;
}

.bg-pink {
    background-color: #ab6c6c;
}

.content-footer {
    height: 10vh;
    width: 100vw;
}

@media screen and (max-width: 767px) {
    .ocultar {
        display: none;
    }
}
