footer {
    height: 10vh;
}

video {
    color: #ab6c6c;
}

.bg-pink {
    background-color: #ab6c6c;
}

.content-footer {
    height: 10vh;
}

.div-content-footer {
    height: 10vh;
    width: 101vw;
}

.mt-current-time {
    margin-right: -5px;
}

.mt-total-time {
    margin-left: -5px;
}

.mt-artista {
    margin-top: -5px;
}

.text-artista {
    font-size: 13px;
}

progress {
    width: 100%;
    height: 15px;
    // border: 0;
    border-radius: 5px;
}

progress::-webkit-progress-bar {
    width: 100%;
    height: 7px;
    // border: 1px solid rgba(255, 255, 255, 0.763);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.763);
}

progress::-webkit-progress-value {
    width: 100%;
    height: 7px;
    border: 1px solid rgba(255, 255, 255, 0.763);
    border-radius: 5px;
    background-color: #5E3232;
}

progress::-moz-progress-bar {
    width: 100%;
    height: 7px;
    // border: 0;
    border-radius: 5px;
    background-color: rgb(215, 215, 215);
}

.no-salir {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

@media screen and (max-width: 767px) {
    .ocultar {
        display: none;
    }
}