.name {
    font-size: 250%;
    color: #ab6c6c;
    margin-left: 5%;
}

.test {
    max-width: 100%;
}

.arreglo {
    margin-top: 20px;
    width: 100%;
}

.btn-back {
    background-color: #ab6c6c;    
    border-radius: 20px;
}

.info {
    // font-size: 115%; // CASA
    // padding: 120px; // CASA
    padding: 30px; // odec
}

.color-link {
    color: #ab6c6c;
}

.div-pointer {
    text-align: center;
    width: 50%;
    cursor: pointer
}

.mh-div {
    height: 100px;
}

@media screen and (max-width: 767px) {
    .ocultar {
        display: none;
    }
}
