<div class="col-lg-10 mx-auto p-3 py-md-5">
    <main>
        <div class="py-4">
            <h3 class="fs-4 text-pink">Listas</h3>
            <hr class="text-pink">

            <div class="py-2 row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">

                <div class="col" *ngFor="p of prueba">
                    <div class="shadow-sm song-selector">
                        <div class="card-body card-back">
                            <img class="music-cover me-2"
                                src="https://firebasestorage.googleapis.com/v0/b/boomclub-tfg.appspot.com/o/boomclub.png?alt=media&token=14ede50f-dcfc-41e3-8bea-03b90978e28a"
                                width="100%" height="100%">

                            <h6 class="text-pink">Canciones para</h6>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </main>
</div>